.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-text-1 {margin: 40px auto 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: 20px auto 0}
.u-section-1 .u-text-3 {font-size: 1.5rem; margin: 12px 70px 0}
.u-section-1 .u-text-4 {font-size: 1.5rem; margin: 20px 70px 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; font-size: 1.25rem; margin: -34px 403px 0 auto; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-3 {margin-left: 58px; margin-right: 58px}
.u-section-1 .u-text-4 {margin-left: 58px; margin-right: 0}
.u-section-1 .u-btn-1 {margin-right: 203px} }

@media (max-width: 991px){ .u-section-1 .u-text-3 {margin-left: 44px; margin-right: 44px}
.u-section-1 .u-text-4 {margin-left: 44px}
.u-section-1 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-text-3 {margin-left: 33px; margin-right: 33px}
.u-section-1 .u-text-4 {margin-left: 33px} }

@media (max-width: 575px){ .u-section-1 .u-text-3 {margin-left: 21px; margin-right: 21px}
.u-section-1 .u-text-4 {margin-left: 21px} }